index.css
}

p {
	text-align: center;
	color: crimson;
}

#missao {
	font-size: 20px
}
strong {
	color: crimson;
}

h2 {
	color: crimson;
	text-align: left;
}
.itens {
	color: crimson;
	text-align: left;
	
}

.informações {

}

